<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">

      <div class="panel-body editview" [hidden]="submitted">



        <!--<div class="row col-md-12 col-lg-12">-->

            <!--<label for="campaignStartTime">Start Time</label>-->
            <!--<datepicker-popup  (modelChange)="updateDate($event)" [required]="true" id="campaignStartTime"></datepicker-popup>-->

        <!--</div>-->

        <form class="form-horizontal form-border" id="form" novalidate="novalidate" *ngIf="active"
              (ngSubmit)="onSubmit()" #siteForm="ngForm">
          <div class="form-group">
            <label class="col-sm-3 control-label">Subject</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="input1"

                     required
                     [(ngModel)]="model.subject" name="subject"
                     #name="ngModel"
              >
              <div [hidden]="name.valid || name.pristine"
                   class="alert alert-danger">
                Subject is necessary
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Value</label>
            <div class="col-sm-6">
              <select class="form-control "
                      required
                      [(ngModel)]="model.value" name="value"
                      style="background: url('http://ourjs.github.io/static/2015/arrow.png') no-repeat scroll right center transparent;">
                <option *ngFor="let val of values" [value]="val">{{val}}</option>

              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Business Scenario</label>
            <div class="col-sm-6">
              <textarea class="form-control" [(ngModel)]="model.scenario" name="b_scenario"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Result</label>
            <div class="col-sm-6">
              <textarea class="form-control" [(ngModel)]="model.result" name="result"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Data Source</label>
            <div class="col-sm-6">
              <ng-select [multiple]=true [items]="data_Sources" placeholder="Please select"></ng-select>
              <!--<select class="form-control"-->
              <!--required-->
              <!--[(ngModel)]="model.dataSource" name="data_source"-->
              <!--&gt;-->
              <!--<option *ngFor="let d_source of data_Sources" [value]="d_source">{{d_source}}</option>-->

              <!--</select>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Data Type Description</label>
            <div class="col-sm-6">
              <textarea class="form-control" [(ngModel)]="model.dataTypeDescription"
                        name="data_type_description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Data Analysis Model</label>
            <div class="col-sm-6">
              <ng-select [multiple]=true [items]="data_Analysis_Models" placeholder="Please select"></ng-select>
              <!--<select class="form-control"-->
              <!--[(ngModel)]="model.analysisModel" name="data_analysis_model"-->
              <!--&gt;-->
              <!--<option *ngFor="let d_a_model of data_Analysis_Models" [value]="d_a_model">{{d_a_model}}</option>-->

              <!--</select>-->
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Analysis Method Descrption</label>
            <div class="col-sm-6">
              <textarea class="form-control" [(ngModel)]="model.analysisMethodDescrption"
                        name="analysis_method_descrption"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Contribution BU</label>
            <div class="col-sm-6">
              <select class="form-control"
                      [(ngModel)]="model.contributionBU" name="contribution_bu"
              >
                <option *ngFor="let c_bu of contribution_BU_S" [value]="c_bu">{{c_bu}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Stage</label>
            <div class="col-sm-6">
              <select class="form-control"
                      [(ngModel)]="model.stage" name="stage"
              >
                <option *ngFor="let stage of stages" [value]="stage">{{stage}}</option>

              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label">Time Frame</label>

            <div class="nav col-sm-3">
              <div class="col-sm-3 control-label">
                from
              </div>
              <div class="col-sm-9">

                <input type="text" class="form-control " required="" placeholder=""
                       [(ngModel)]="model.fromDate" name="start_time"
                >
              </div>
            </div>


            <div class=" nav col-sm-3">
              <div class="col-sm-3 control-label">
                to
              </div>
              <div class="col-sm-9">

                <input type="text" class="form-control " required="" placeholder=""
                       [(ngModel)]="model.toDate" name="end_time"
                >
              </div>

            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Contact</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" required="" placeholder=""
                     [(ngModel)]="model.contact" name="contact"
              >
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label col-ineedhelp"><i class="fa fa-hourglass-o" aria-hidden="true"></i>
              I need help</label>
            <div class="col-sm-6">
              <textarea class="form-control" [(ngModel)]="model.help" name="i_need_help"
              ></textarea>
            </div>

          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">

              <tr *ngFor="let item of uploader.queue" class="col-sm-12  ">
                <td class="col-sm-6"><strong>{{ item?.file?.name }}</strong></td>

                <!--<td class="text-center col-sm-1">-->
                <!--<span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>-->
                <!--<span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>-->
                <!--<span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>-->
                <!--</td>-->
                <td nowrap class="col-sm-4">
                  <button type="button" class="btn btn-warning btn-xs"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                  </button>
                  <button type="button" class="btn btn-danger btn-xs"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
                <td>

                </td>
              </tr>
            </div>

          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
          </div>
          <div class="form-group">

            <div class="col-sm-offset-3 col-sm-6">
              <div ng2FileDrop
                   [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                   (fileOver)="fileOverAnother($event)"
                   [uploader]="uploader"
                   class="well my-drop-zone" style="">
                upload
                <input class="fileInput well my-drop-zone col-sm-12" type="file"
                       ng2FileSelect [uploader]="uploader" multiple
                       (change)="selectedFileOnChanged($event)"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <button type="submit" class="btn btn-info btn-lg"
                      [disabled]="siteForm.form.valid">Submit
              </button>
            </div>
          </div>
          <!--{{submitJson}}-->
        </form>
      </div>
    </div>
  </div>
  <datetime [(ngModel)]="date4" [timepicker]="{ icon: 'fa fa-clock-o' }" [datepicker]="{ icon: 'fa fa-calendar' }"></datetime>
  <!--<div>-->
    <!--<pre class="card card-block card-header">Selected date is: <em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>-->
    <!--<h4>Inline</h4>-->
    <!--<div style="display:inline-block; min-height:290px;">-->
      <!--<datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>-->
    <!--</div>-->
    <!--<hr />-->
    <!--<button type="button" class="btn btn-sm btn-info" (click)="today()">Today</button>-->
    <!--<button type="button" class="btn btn-sm btn-default btn-secondary" (click)="d20090824();">2009-08-24</button>-->
    <!--<button type="button" class="btn btn-sm btn-danger" (click)="clear()">Clear</button>-->
    <!--<button type="button" class="btn btn-sm btn-default btn-secondary" (click)="toggleMin()" tooltip="After today restriction">Min date</button>-->
    <!--<button type="button" class="btn btn-sm btn-default btn-secondary" (click)="disableTomorrow()">Disable Tomorrow</button>-->
  <!--</div>-->
</div>

<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>


