<div class="row create-case">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h1>Please choose the stage before you create case</h1>
      </div>
      <div class="panel-body">
        <div class="btn-group btn-group-lg ">
          <span>
            <button type="button" class="btn btn-default btn1" (click)="generation();" [class.grey]="isBtn1Clicked"><span>1</span>Idea generation</button>
            <span class="btn1-p">
              <span class="triangle-up"></span>
              <span> Generate a conception on what you want to analysis or what result you intend to achieve.</span>
            </span>
          </span>
          <span>
             <button type="button" class="btn btn-default btn2" (click)="validation();" [class.grey]="isBtn2Clicked"><span>2</span>Validation</button>
             <span class="btn2-p">
               <span class="triangle-up"></span>
               <span>Take an action on analysising to achieve the result based on various relevant data and model.</span>
             </span>
          </span>
          <span>
            <button type="button" class="btn btn-default btn3" (click)="analysis();" [class.grey]="isBtn3Clicked"><span>3</span>Analysis</button>
            <span class="btn3-p">
              <span class="triangle-up"></span>
              <span>Validate the analysis result insight.</span>
            </span>
          </span>
          <span>
           <button type="button" class="btn btn-default btn4" (click)="implemetation();" [class.grey]="isBtn4Clicked"><span>4</span>Implementation</button>
             <span class="btn4-p">
                <span class="triangle-up"></span>
                <span>Apply to appropriate business scenario.</span>
             </span>
          </span>
        </div>
        <div class="row create-case-form">
          <div class="col-xs-12">
            <div class="panel">
              <div class="panel-body editview">
                <form class="form-horizontal form-border" id="form" novalidate="novalidate" *ngIf="active"
                      (ngSubmit)="onSubmit()" #siteForm="ngForm">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="subject">Subject:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="subject" required [(ngModel)]="model.subject" name="subject" #name="ngModel">
                      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Subject is necessary
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="value">Value:</label>
                    <div class="col-sm-6">
                      <select class="form-control" required [(ngModel)]="model.value" name="value" id="value">
                        <option *ngFor="let val of values" [value]="val">{{val}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="scenario">Business Scenario:</label>
                    <div class="col-sm-6">
                      <textarea class="form-control" required [(ngModel)]="model.scenario" name="scenario" id="scenario"></textarea>
                    </div>
                  </div>
                  <div class="form-group" [hidden]="analysisMethodResult">
                    <label class="col-sm-3 control-label" for="data-source">Data Source:</label>
                    <div class="col-sm-6">
                      <ng-select [multiple]=true [items]="data_Sources" placeholder="Please select" id="data-source" (data)="dataSourceValue($event)"></ng-select>
                    </div>
                  </div>
                  <div class="form-group" [hidden]="analysisMethodResult">
                    <label class="col-sm-3 control-label" for="data-type-description">Data Type Description:</label>
                    <div class="col-sm-6">
                      <textarea class="form-control" [(ngModel)]="model.dataTypeDescription" name="dataTypeDescription" id="data-type-description"></textarea>
                    </div>
                  </div>
                  <div class="form-group" [hidden]="analysisMethodResult">
                    <label class="col-sm-3 control-label" for="data-analysis-model">Data Analysis Model:</label>
                    <div class="col-sm-6">
                      <ng-select [multiple]=true [items]="data_Analysis_Models" placeholder="Please select" id="data-analysis-model" (data)="dataAnalysisModelValue($event)"></ng-select>
                    </div>
                  </div>
                  <div class="form-group" [hidden]="analysisMethodResult">
                    <label class="col-sm-3 control-label" for="analysis-method-result">Analysis Method and Result:</label>
                    <div class="col-sm-6">
                      <textarea ng2FileDrop
                                [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                                (fileOver)="fileOverAnother($event)"
                                (onFileDrop) = "fileDropOver($event)"
                                [uploader]="uploader"
                                class="form-control" [(ngModel)]="model.analysisMethodResult"
                        name="analysisMethodResult" id="analysis-method-result"></textarea>
                    </div>
                  </div>
                  <div class="form-group" [hidden]="validationMethodResult">
                    <label class="col-sm-3 control-label" for="validation-method-result">Validation Method and Result:</label>
                    <div class="col-sm-6">
                      <textarea class="form-control" [(ngModel)]="model.validationMethodResult"
                        name="validationMethodResult" id="validation-method-result"></textarea>
                    </div>
                  </div>
                  <div class="form-group" [hidden]="implementationMethodResult">
                    <label class="col-sm-3 control-label" for="implementation-method-result">Implementation Method and Result:</label>
                    <div class="col-sm-6">
                      <textarea class="form-control" [(ngModel)]="model.implementationMethodResult"
                        name="implementationMethodResult" id="implementation-method-result"></textarea>
                    </div>
                  </div>
                  <a href="javascript:void(0);" (click)="fillOutMoreInfo();" [hidden]="isFillOut"><span class="fill-out">Fill out more information</span><span class="triangle-down"></span></a>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="contribution-BU">Contribution BU:</label>
                    <div class="col-sm-6">
                      <select class="form-control"
                              [(ngModel)]="model.contributionBU" name="contributionBU" id="contribution-BU">
                        <option *ngFor="let c_bu of contribution_BU_S" [value]="c_bu">{{c_bu}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="stage">Stage:</label>
                    <div class="col-sm-6">
                      <select class="form-control"
                              [(ngModel)]="model.stage" name="stage" id="stage">
                        <option *ngFor="let stage of stages" [value]="stage">{{stage}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Time Frame:</label>
                    <div class="col-sm-3">
                      <div class="col-sm-2 control-label">
                        from
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control "
                               [(ngModel)]="fromDate" name="fromDate" ng2-datetime-picker date-only="true"
                               >
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="col-sm-2 control-label">
                        to
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control " placeholder=""
                               [(ngModel)]="toDate" name="toDate" ng2-datetime-picker date-only="true">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="contact">Contact:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" placeholder=""
                             [(ngModel)]="model.contact" name="contact" id="contact"
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label need-help" for="help">
                      <i class="fa fa-hourglass-o" aria-hidden="true"></i>
                      I need help:
                    </label>
                    <div class="col-sm-6">
                      <textarea class="form-control" [(ngModel)]="model.help" name="help" id="help"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                      <input type="file"
                             ng2FileSelect [uploader]="uploader" multiple
                             (change)="selectedFileOnChanged($event)"
                      />
                      <a href="#" (click)="selectUpload($event)" ><i class="fa fa-upload"></i><span>Upload</span></a>
                    </div>
                  </div>
                  <a href="javascript:void(0);" (click)="packUp();" [hidden]="isPackUp"><span class="triangle-up"></span><span class="pack-up">Pack up</span></a>
                  <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-6">
                      <button type="submit" class="btn btn-info btn-lg" [disabled]="!siteForm.form.valid">Submit
                      </button>
                    </div>
                  </div>
                  <!--{{submitJson}}-->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





