<section id="main-wrapper" class="theme-default">
  <header id="header">
    <div class="brand">
      <a href="index.html" class="logo">
        <i class="icon-layers"></i>
        <span>Mercedes-Benz</span></a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li class="toggle-navigation toggle-left">
        <button class="sidebar-toggle" id="toggle-left">
          <i class="fa fa-bars"></i>
        </button>

      </li>
      <li class="hidden-xs hidden-sm">

        <input type="text" class="search" placeholder="Search...">
        <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
        </button>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-inf hidden-xs">
        <button class="sidebar-toggle">
          <i class="fa fa-bell"></i>
        </button>
      </li>
      <li class="nav-inf hidden-xs">
        <button class="sidebar-toggle">
          <i class="fa fa-envelope"></i>
        </button>
      </li>
      <li class="dropdown profile hidden-xs">
        <a [routerLink]="[ '/user', 1]" routerL class="dropdown-toggle" data-toggle="dropdown">
            <span class="meta">
                <span class="avatar">
                    <img src="assets/profile.jpg" class="img-circle" alt="">
                </span>
                <span class="text">Admin</span>
                <span class="caret"></span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight" role="menu">
          <li>
            <span class="arrow top"></span>
            <h5>
              <span>80%</span>
              <small class="text-muted">Profile complete</small>
            </h5>
            <div class="progress progress-xs">
              <div class="progress-bar progress-bar" style="width: 80%">

              </div>
            </div>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-user"></i>
                                </span>My Account</a>
          </li>
          <li>
            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-envelope"></i>
                                </span>Messages</a>
          </li>
          <li>
            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-cog"></i>
                                </span>Settings</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-sign-out"></i>
                                </span>Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </header>

  <div class="sidebar sidebar-left">

    <accordion class="accordion" [expandAll]="true">
      <accordion-group>
        <accordion-heading>
          <a routerLink="/dashboard" routerLinkActive="active">
            <i class="fa fa-fw fa-home"></i> Home
          </a>
        </accordion-heading>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <a routerLink="/createcase" routerLinkActive="active">
            <i class="fa fa-fw fa-navicon"></i> Value
          </a>
        </accordion-heading>
        <a routerLink="/createcase" routerLinkActive="active">
          Detail
        </a>
        <a routerLink="/createcase" routerLinkActive="active">
          Detail
        </a>
        <a routerLink="/createcase" routerLinkActive="active">
          Detail
        </a>
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          <a routerLink="/createcase" routerLinkActive="active">
            <i class="fa fa-fw fa-navicon"></i> Contribution BU
          </a>
        </accordion-heading>
        <a routerLink="/createcase" routerLinkActive="active">
          Detail
        </a>
        <a routerLink="/createcase" routerLinkActive="active">
          Detail
        </a>
        <a routerLink="/createcase" routerLinkActive="active">
          Detail
        </a>
      </accordion-group>
    </accordion>

    <div class="sidebar-btn">
      <a routerLink="/createcase" class="btn btn-primary btn-block">
        <span class="fa fa-plus" aria-hidden="true"></span> Create Case
      </a>
    </div>

  </div>

  <section class="main-content-wrapper">
    <div class="pageheader">
      <h3>Hi Hellen</h3>
    </div>
    <section id="main-content" class="animated fadeInUp">
      <router-outlet></router-outlet>
    </section>
  </section>
</section>

