<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">

      <div class="panel-body editview">
        <form class="form-horizontal form-border" id="form" novalidate="novalidate">
          <div class="form-group">
            <label class="col-sm-3 control-label">Subject</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="input1" id="input1" required="" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Value</label>
            <div class="col-sm-6">
              <select class="form-control">
                <option value="">Increase business revenue</option>
                <option value="">Optimize business eficiency</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Business Scenario</label>
            <div class="col-sm-6">
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Result</label>
            <div class="col-sm-6">
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Data Source</label>
            <div class="col-sm-6">
              <select class="form-control">
                <option value="">CDM</option>
                <option value="">DMS</option>
                <option value="">Data Layer</option>
                <option value="">LMS</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Data Type Description</label>
            <div class="col-sm-6">
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Data Analysis Model</label>
            <div class="col-sm-6">
              <select class="form-control">
                <option value="">C4.5</option>
                <option value="">K-means</option>
                <option value="">Support vector machines</option>
                <option value="">Apriori</option>
                <option value="">EM</option>
                <option value="">PageRank</option>
                <option value="">AdaBoost</option>
                <option value="">kNN</option>
                <option value="">Naive Bayes</option>
                <option value="">CART</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Contribution BU</label>
            <div class="col-sm-6">
              <select class="form-control">
                <option value="">Sales</option>
                <option value="">After sales</option>
                <option value="">Marketing</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Stage</label>
            <div class="col-sm-6">
              <select class="form-control">
                <option value="">SalIdea generation</option>
                <option value="">Analysis</option>
                <option value="">Validation</option>
                <option value="">Implementationes</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Time Frame</label>
            <div class="col-sm-3">
              <input type="password" class="form-control " name="input7" id="input7" required="" placeholder="">
            </div>
            <div class="col-sm-3">
              <input type="password" class="form-control " required="" name="input8" id="input8" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Contact</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="input13" id="input13" required="" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label col-ineedhelp"><i class="fa fa-hourglass-o" aria-hidden="true"></i>
              I need help</label>
            <div class="col-sm-6">
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <button type="submit" class="btn btn-info btn-lg">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
