<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="panel panel-solid-info widget-mini">
      <div class="panel-body">
        <span class="icon"><i class="fa fa-plus"></i></span>
        <div class="inf">
          <span class="total text-center">4,387</span>
          <span class="title text-center">Create Cases</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="panel panel-solid-info widget-mini">
      <div class="panel-body">
        <span class="icon"><i class="fa fa-thumbs-o-up"></i></span>
        <div class="inf">
          <span class="total text-center">2,936</span>
          <span class="title text-center">Thumb-up</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="panel panel-solid-info widget-mini">
      <div class="panel-body">
        <span class="icon"><i class="fa fa-comment-o"></i></span>
        <div class="inf">
          <span class="total text-center">1,007</span>
          <span class="title text-center">Comment Cases</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="panel panel-solid-info widget-mini">
      <div class="panel-body">
        <span class="icon"><i class="fa fa-share-square-o"></i></span>
        <div class="inf">
          <span class="total text-center">1,960</span>
          <span class="title text-center">Sharing Cases</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sectionheader">
  <h3>Latest Case</h3>
  <small>Checkout your latest cases</small>
</div>

<div class="row">
  <div class="col-xs-12">

    <div class="panel view-mail-wrapper" *ngFor="let case of cases">
      <div class="panel-body">
        <div class="row view-mail-header">
          <div class="col-md-8 ">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object img-circle" src="assets/avatar5.png">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{case.author}}</h4>
                <small>{{case.sort}}</small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="view-mail-reply pull-right">
              <button class="btn btn-sm btn-info">clone</button>
              <a class="btn" routerLink="/detail" href="#" role="button">
                <p>{{case.see}}</p><i class="fa fa-eye"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel view-mail-body">
              <div class="panel-heading">{{case.title}}</div>
              <div class="panel-body">
                <p>
                  <span class="label label-danger">Business Value:</span>{{case.b_value}}
                </p>
                <p>
                  <span class="label label-warning">Business Scenario:</span>{{case.b_scenrio}}
                </p>
                <p>
                  <span class="label label-primary">Business Result:</span>{{case.b_resurt}}
                </p>

                  Reference:
                <abbr title="{{case.reference}}" class="initialism">{{case.reference}}</abbr>

              </div>
              <div class="panel-footer">
                <span class="help-block"><i class="fa fa-clock-o"></i> {{case.date}}</span>
                <a href="#" class="btn btn-sm"><i class="fa fa-thumbs-o-up"></i> Like {{case.like}}</a>
                <a href="#" class="btn btn-sm"><i class="fa fa-comment-o"></i> Comment {{case.comment}}</a>
                <a href="#" class="btn btn-sm"><i class="fa fa-share"></i> Share {{case.share}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
