<div class="row">
  <div class="col-xs-12">

    <section class="panel">
      <header class="panel-heading wht-bg">
        <h4 class="gen-case">Inbox (83)
          <form action="#" class="pull-right mail-src-position">
            <div class="input-append ">
              <input type="text" class="form-control" placeholder="Search Mail">
            </div>
          </form>
        </h4>
      </header>
      <div class="panel-body minimal">
        <div class="mail-option">
          <div class="pull-left mail-checkbox ">
            <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              All <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">None</a>
              </li>
              <li><a href="#">Read</a>
              </li>
              <li><a href="#">Unread</a>
              </li>
              <li><a href="#">Starred</a>
              </li>
              <li><a href="#">Unstarred</a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <a data-original-title="Refresh" data-placement="top" data-toggle="tooltip" href="#" class="btn btn-default btn-sm tooltips">
              <i class=" fa fa-refresh"></i>
            </a>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
              More <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a>
              </li>
              <li><a href="#"><i class="fa fa-ban"></i> Spam</a>
              </li>
              <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a>
              </li>
            </ul>
          </div>
          <ul class="inbox-pag pull-right">
            <li><span>1-50 of 83</span>
            </li>
            <li>
              <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-left  pag-left"></i></a>
            </li>
            <li>
              <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-right pag-right"></i></a>
            </li>
          </ul>

        </div>
        <div class="table-responsive pull-left">
          <table class="table table-inbox table-hover">
            <tbody>
            <tr class="unread">
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star"></i>
              </td>
              <td class="message"><a routerLink="/detail" routerLinkActive="active"><span class="title">Dribbble </span>
                [Dribbble] Work Inquiry from Google Inc. </a>
              </td>
              <td class="text-right">April 20 <i class="fa fa-paperclip"></i>
              </td>
            </tr>
            <tr class="unread">
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">James Bagian</span>
                Development - Elit vitae ridiculus nonummy vestibulum</a>
              </td>
              <td class="text-right">April 20<span class="label label-danger pull-right">urgent</span>
              </td>
            </tr>
            <tr class="unread">
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Jeffrey Ashby</span>
                Progress - Sed ut perspiciatis unde omnis iste natus..</a>
              </td>
              <td class="text-right">April 20 <i class="fa fa-paperclip"></i>
              </td>
            </tr>
            <tr class="unread">
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">John Douey</span>
                Touch Base - Reprehenderit qui in ea voluptate velit esse quam</a>
              </td>
              <td class="text-right">April 20</td>
            </tr>
            <tr class="unread">
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ellen Baker</span>
                Timeline - Nam libero tempore, cum soluta nobis</a>
              </td>
              <td class="text-right">April 20<span class="label label-info pull-right">save</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                New Follower - Elit vitae ridiculus nonummy vestibulum</a>
              </td>
              <td class="text-right">April 19<i class="fa fa-paperclip"></i>
              </td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">John Doue</span>
                UX Perspective - Reprehenderit qui in ea voluptate velit esse quam</a>
              </td>
              <td class="text-right">April 19</td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                Mailchimp - Sed ut perspiciatis unde omnis iste natus..</a>
              </td>
              <td class="text-right">April 19<i class="fa fa-paperclip"></i>
              </td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                Design Work - Elit vitae ridiculus nonummy vestibulum</a>
              </td>
              <td class="text-right">April 19<span class="label label-warning pull-right">social</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ellen Baker</span>
                Freelance - Sed ut perspiciatis unde omnis iste natus</a>
              </td>
              <td class="text-right">April 19</td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                Timeline - Elit vitae ridiculus nonummy vestibulum</a>
              </td>
              <td class="text-right">April 19</td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star"></i>
              </td>
              <td class="message"><a href="#"><span class="title">James Bagian</span>
                Check it - Maiores alias consequatur aut perferendis doloribus</a>
              </td>
              <td class="text-right">April 19<i class="fa fa-paperclip"></i>
              </td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                Bookmark this - Elit vitae ridiculus nonummy vestibulum</a>
              </td>
              <td class="text-right">April 19<span class="label label-danger pull-right">urgent</span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                Lunch? - Nam libero tempore, cum soluta nobis</a>
              </td>
              <td class="text-right">April 19</td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                Coffee Break - Elit vitae ridiculus nonummy vestibulum</a>
              </td>
              <td class="text-right">April 19</td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ellen Baker</span>
                Beta testing - Praesentium voluptatum deleniti atque corrupti quos</a>
              </td>
              <td class="text-right">April 19<i class="fa fa-paperclip"></i>
              </td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                Prod Servers - Elit vitae ridiculus nonummy vestibulum</a>
              </td>
              <td class="text-right">April 19</td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                Design Work - Omnis voluptas assumenda est, omnis dolor repellendus</a>
              </td>
              <td class="text-right">April 19</td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                Authentic Goods - Culpa qui officia deserunt mollitia animi, id est laborum et</a>
              </td>
              <td class="text-right">April 19</td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star"></i>
              </td>
              <td class="message"><a href="#"><span class="title">John Doue</span>
                SASS Work - Elit vitae ridiculus nonummy vestibulum</a>
              </td>
              <td class="text-right">April 19<i class="fa fa-paperclip"></i>
              </td>
            </tr>
            <tr>
              <td>
                <div class="icheckbox_flat-grey" style="position: relative;"><input type="checkbox" class="mail-checkbox icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
              </td>
              <td><i class="fa fa-star-o"></i>
              </td>
              <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                Almost there - Reiciendis voluptatibus maiores alias consequatur aut</a>
              </td>
              <td class="text-right">April 19</td>
            </tr>

            </tbody>
          </table>

        </div>
      </div>
    </section>

  </div>
</div>
