<div class="row">
  <div class="col-xs-12">


    <!--<div class="card-block">-->
      <!--<ng-select [multiple]=true [items]="items_multiple" placeholder="Please select"></ng-select>-->
    <!--</div>-->
    <ul>

      <li>
        <div class="author">
          <img src="assets/avatar5.jpg" alt="avatar">
        </div>

        <div class="name">Łukasz Holeczek</div>
        <div class="date">Today, 1:08 PM</div>
        <div class="delete"><i class="fa fa-times"></i></div>

        <div class="message">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>

        <ul>

          <li>
            <div class="author">
              <img src="assets/avatar5.jpg" alt="avatar">
            </div>
            <div class="name">Ann Kovalsky</div>
            <div class="date">Today, 1:08 PM</div>
            <div class="delete"><i class="fa fa-times"></i></div>

            <div class="message">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>

          </li>

          <li>
            <div class="author">
              <img src="assets/avatar5.jpg" alt="avatar">
            </div>
            <div class="name">Megan Abbott</div>
            <div class="date">Today, 1:08 PM</div>
            <div class="delete"><i class="fa fa-times"></i></div>

            <div class="message">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>
          </li>

          <li>
            <div class="author">
              <img src="assets/img/avatar.jpg" alt="avatar">
            </div>
            <textarea class="diss-form" placeholder="Write comment" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 61.3px;"></textarea>
          </li>

        </ul>

      </li>

      <li>
        <div class="author">
          <img src="assets/avatar5.jpg" alt="avatar">
        </div>

        <div class="name">Łukasz Holeczek</div>
        <div class="date">Today, 1:08 PM</div>
        <div class="delete"><i class="fa fa-times"></i></div>

        <div class="message row">
          <div class="col-sm-3 col-xs-6">
            <img src="assets/img/gallery/photo2.jpg" class="img-responsive img-thumbnail">
          </div>
          <div class="col-sm-3 col-xs-6">
            <img src="assets/img/gallery/photo3.jpg" class="img-responsive img-thumbnail">
          </div>
          <div class="col-sm-3 col-xs-6">
            <img src="assets/img/gallery/photo4.jpg" class="img-responsive img-thumbnail">
          </div>
          <div class="col-sm-3 col-xs-6">
            <img src="assets/img/gallery/photo5.jpg" class="img-responsive img-thumbnail">
          </div>
        </div>

        <ul>

          <li>
            <div class="author">
              <img src="assets/img/avatar.jpg" alt="avatar">
            </div>
            <textarea class="diss-form" placeholder="Write comment" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 61.3px;"></textarea>
          </li>

        </ul>

      </li>

      <li>
        <div class="author">
          <img src="assets/img/avatar9.jpg" alt="avatar">
        </div>

        <div class="name">Tom Allen</div>
        <div class="date">Today, 1:08 PM</div>
        <div class="delete"><i class="fa fa-times"></i></div>

        <div class="message">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>

        <ul>

          <li>
            <div class="author">
              <img src="assets/img/avatar2.jpg" alt="avatar">
            </div>
            <div class="name">Katie Moss</div>
            <div class="date">Today, 1:08 PM</div>
            <div class="delete"><i class="fa fa-times"></i></div>

            <div class="message">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>

          </li>

          <li>
            <div class="author">
              <img src="assets/img/avatar4.jpg" alt="avatar">
            </div>
            <div class="name">Anna Holn</div>
            <div class="date">Today, 1:08 PM</div>
            <div class="delete"><i class="fa fa-times"></i></div>

            <div class="message">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>
          </li>

          <li>
            <div class="author">
              <img src="assets/img/avatar9.jpg" alt="avatar">
            </div>
            <textarea class="diss-form" placeholder="Write comment" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 61.3px;"></textarea>
          </li>

        </ul>

      </li>

    </ul>



    <p>My current hero is {{firstName}}</p>
    <p>The sum of 1 + 1 is not {{1 + 1 + getVal()}}</p>
    <h1>{{title}}</h1>
    <h2>我喜欢的网站: {{mySite}}</h2>
    <p>网站列表:</p>
    <ul>
      <li *ngFor="let site of sites">
        {{ site }}
      </li>
    </ul>

    <button (click)="onClickMe()">点我!</button>
    {{clickMessage}}
    <input (keyup)="onKey($event)">
    <p>{{values}}</p>
    <input #box (keyup)="0">
    <p>{{box.value}}</p>


    <div class="container coL-ms-12">
      <div [hidden]="submitted">
        <h1>网站表单</h1>
        <form *ngIf="active" (ngSubmit)="onSubmit()" #siteForm="ngForm">
          {{diagnostic}}
          <div class="form-group">
            <label for="name">网站名</label>
            <input type="text" class="form-control" id="name"
                   required
                   [(ngModel)]="model.name" name="name"
                   #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
              网站名是必需的
            </div>
          </div>
          <div class="form-group">
            <label for="alexa">alexa 排名</label>
            <input type="text" class="form-control" id="alexa"
                   [(ngModel)]="model.alexa" name="alexa">
          </div>
          <div class="form-group col-md-3">
            <label for="url">网站 URL </label>
            <select class="form-control" id="url"
                    required
                    [(ngModel)]="model.url" name="url">
              <option *ngFor="let p of urls" [value]="p">{{p}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default" [disabled]="!siteForm.form.valid">提交</button>
          <button type="button" class="btn btn-default" (click)="newSite()">新增网站</button>
        </form>
      </div>
      <div [hidden]="!submitted">
        <h2>你提交的信息如下:</h2>
        <div class="row">
          <div class="col-xs-3">网站名</div>
          <div class="col-xs-9  pull-left">{{ model.name }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">网站 alexa 排名</div>
          <div class="col-xs-9 pull-left">{{ model.alexa }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">网站 URL</div>
          <div class="col-xs-9 pull-left">{{ model.url }}</div>
        </div>
        <br>
        <button class="btn btn-default" (click)="submitted=false">编辑</button>
      </div>
    </div>
    <div class="well">
      <div id="datetimepicker1" class="input-append date">
        <input data-format="dd/MM/yyyy hh:mm:ss" type="text"/>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>


  </div>
</div>
