<div class="row">
  <div class="col-xs-12">
    <div class="panel view-detail">
      <div class="panel-body">
        <header>
          <h2>{{cases.id}}</h2>
        </header>
        <div class="row view-mail-header">
          <div class="col-md-8 ">
            <img src="assets/avatar5.png" alt="" class="img-circle" width="50" height="50">
            <strong><a href="#">{{cases.id}}</a></strong>
            <small>
              <i class="fa fa-clock-o"></i> {{cases.date}}</small>
          </div>
          <div class="col-md-4">
            <div class="view-mail-reply pull-right text-center">
              <p><a class="btn" routerLink="/detail" href="#" role="button"><i class="fa fa-eye"></i> {{cases.see}}</a></p>
              <button class="btn btn-sm btn-info">Clone</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">

            <div class="panel view-mail-wrapper" >
              <div class="panel-body">


                <div class="row">
                  <div class="col-md-12">
                    <div class="panel view-mail-body">

                      <div class="panel-body">
                        <p>
                          <span class="label label-danger ">Business Value:</span>{{cases.value}}
                        </p>
                        <p>
                          <span class="label label-warning">Business Scenario:</span>{{cases.scenario}}
                        </p>
                        <p>
                          <span class="label label-primary">Business Result:</span>{{cases.result}}
                        </p>

                      </div>
                      <div class="col-md-12 column">
                        <div class="col-md-3">
                          <img src="assets/test1.png"   alt="">
                        </div>
                        <div class="col-md-3">
                          <img src="assets/test1.png" alt="">
                        </div><div class="col-md-3">
                        <img src="assets/test2.png"  alt="">
                      </div>
                        <div class="col-md-3">
                        <img src="assets/test2.png"  alt="">
                      </div>

                      </div>
                      <div class="col-md-12 column">
                        Reference:
                        <abbr title="{{cases.dataSource}}" class="initialism">{{cases.dataSource}}</abbr>
                      </div>
                      <div class="panel-footer">
                        <a href="#" class="btn btn-sm"><i class="fa fa-thumbs-o-up"></i> Like {{cases.like}}</a>
                        <a href="#" class="btn btn-sm"><i class="fa fa-comment-o"></i> Comment {{cases.comment}}</a>
                        <a href="#" class="btn btn-sm"><i class="fa fa-share"></i> Share {{cases.share}}</a>
                      </div>
                      <div class="col-sm-11">
                        <textarea class="form-control"></textarea>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
