<div class="row">
  <div class="col-xs-12">
    <div class="panel view-case">
      <div class="panel-heading">
        <div>
          {{siteCase.subject}}
          <button class="btn btn-xs btn-default" routerLink="/edit">Edit</button>
        </div>
      </div>
      <div class="panel-body">
        <div class="view-mail-header">
          <div class="media">
            <div class="media-left">
              <a href="javascript:void(0);" [routerLink]="['/user', 1]">
                <img class="media-object img-circle" src="assets/avatar5.png">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-username">Adam Larbert</h4>
              <small>2016-09-03</small>
            </div>
          </div>
        </div>
        <div class="view-mail-reply pull-right text-center">
          <a class="btn" href="javascript:void(0);" role="button">
            <i class="fa fa-eye"></i><span>2287</span>
          </a>
          <button class="btn btn-sm">Clone</button>
        </div>
        <div>
          <h2>Business Value</h2>
          <p>{{siteCase.value}}</p>
          <h2>Business Scenario</h2>
          <p>{{siteCase.scenario}}</p>
          <h2>Data Sourece</h2>
          <p>{{siteCase.dataSource}}</p>
          <h2>Data Type Description</h2>
          <p>{{siteCase.dataTypeDescription}}</p>
          <h2>Data Analysis Model</h2>
          <p>Decision Trees, Association Analysis</p>
          <h2>Analysis Method and Result</h2>
          <p>Handles huge data sets Handles huge data sets Handles huge data sets Handles huge data sets Handles huge data sets Handles huge data sets</p>
          <div class="row">
            <div class="col-md-3">
              <img src="assets/test1.png" alt="">
            </div>
            <div class="col-md-3">
              <img src="assets/test1.png" alt="">
            </div>
            <div class="col-md-3">
              <img src="assets/test2.png" alt="">
            </div>
          </div>
          <h2>Validation Method and Result</h2>
          <p>The validation result shows that churn prevention analysis work better in dealership with relatively higher churn possibilities.</p>
          <div class="row">
            <div class="col-md-3">
              <img src="assets/test1.png" alt="">
            </div>
            <div class="col-md-3">
              <img src="assets/test1.png" alt="">
            </div>
            <div class="col-md-3">
              <img src="assets/test2.png" alt="">
            </div>
            <div class="col-md-3">
              <img src="assets/test2.png" alt="">
            </div>
          </div>
          <h2>Implementation Method and Result</h2>
          <p>The validation result shows that churn prevention analysis work better in dealership with relatively higher churn possibilities.</p>
          <div class="row">
            <div class="col-md-3">
              <img src="assets/test1.png" alt="">
            </div>
            <div class="col-md-3">
              <img src="assets/test1.png" alt="">
            </div>
            <div class="col-md-3">
              <img src="assets/test2.png" alt="">
            </div>
            <div class="col-md-3">
              <img src="assets/test2.png" alt="">
            </div>
            <div class="col-md-3">
              <img src="assets/test2.png" alt="">
            </div>
            <div class="col-md-3">
              <img src="assets/test2.png" alt="">
            </div>
          </div>
          <h2>Contribution BU</h2>
          <p>{{siteCase.contributionBU}}</p>
          <h2>Stage</h2>
          <p>{{siteCase.stage}}</p>
          <h2>Time Frame</h2>
          <p>{{siteCase.fromDate}} - {{siteCase.toDate}}</p>
          <h2>Contact</h2>
          <p>{{siteCase.contact}}</p>
          <h2>Reference</h2>
          <p><abbr title="{{siteCase.dataSource}}" class="initialism">{{siteCase.dataSource}}</abbr></p>
          <h2>I Need Help</h2>
          <p>How to validate the analysis insight effectively ?</p>
          <h2>Attachment</h2>
          <div class="row">
            <div class="col-md-4">
              <p><span class="doc"><small>20161230_CRM_Project.doc</small></span><button class="btn btn-sm">Download</button></p>
            </div>
            <div class="col-md-4">
              <p><span class="doc"><small>20161230_CRM_Project.doc</small></span><button class="btn btn-sm">Download</button></p>
            </div>
            <div class="col-md-4">
              <p><span class="doc"><small>20161230_CRM_Project.doc</small></span><button class="btn btn-sm">Download</button></p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
       <div>
         <a href="#" class="btn btn-sm"><i class="fa fa-thumbs-o-up"></i> 2344 </a>
         <a href="#" class="btn btn-sm"><i class="fa fa-comment-o"></i> 96753232 </a>
         <a href="#" class="btn btn-sm"><i class="fa fa-share"></i> 8544 </a>
       </div>
        <div class="view_case_comment">
          <div class="case_comment text-right">
            <textarea class="form-control"></textarea>
            <button class="btn btn-sm">send</button>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-circle" src="assets/avatar5.png">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-username">Adam Larbert:</h4>
              <p>The app offers an complete prgangram of Avanade people with the possibility to search by skills - to see who can
                help on certian tasks who works on the project I work on etc.,</p>
              <small>1 minute age</small>
              <div>
                <a href="#" class="btn"><i class="fa fa-commenting-o"></i> Reply </a>
                <a href="#" class="btn"><i class="fa fa-trash"></i> Cancel </a>
              </div>
              <div class="case_comment text-right">
                <textarea class="form-control"></textarea>
                <button class="btn btn-sm">send</button>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-circle" src="assets/avatar5.png">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-username">Adam Larbert:</h4>
              <p>The app offers an complete prgangram of Avanade people with the possibility to search by skills - to see who can
                help on certian tasks who works on the project I work on etc.,</p>
              <small>1 minute age</small>
              <div>
                <a href="#" class="btn"><i class="fa fa-commenting-o"></i> Reply </a>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-circle" src="assets/avatar5.png">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-username">Adam Larbert:</h4>
              <p>The app offers an complete prgangram of Avanade people with the possibility to search by skills - to see who can
                help on certian tasks who works on the project I work on etc.,</p>
              <small>1 minute age</small>
              <div>
                <a href="#" class="btn"><i class="fa fa-commenting-o"></i> Reply </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

