<div class="row">
  <div class="col-md-12">
    <div class="panel user-page">
      <div class="panel-body">
        <div class="view-mail-header">
          <div class="media">
            <div class="media-left">
              <img class="media-object img-circle" src="assets/avatar5.png">
            </div>
            <div class="media-body">
              <div class="row user">
                <div class="col-md-4">
                  <span>Philip Wang</span>
                </div>
                <div class="col-md-8 user-level">
                  <img class="img-rounded " src="assets/level.jpg">
                  <small>Copper</small>
                  <small>Sliver</small>
                  <div class="progress pull-right">
                    <div class="progress-bar progress-bar-info" role="progressbar"
                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                      <span class="sr-only">20%</span>
                    </div>
                  </div>
                  <div class="user-level-show">
                    <span class="triangle-up"></span>
                    <div>
                      <p><label>Diamond:</label><span>more than 2000</span></p>
                      <p><label>Golden:</label><span>500-2000</span></p>
                      <p><label>Sliver:</label><span>200-500</span></p>
                      <p><label>Copper:</label><span>100-200</span></p>
                      <p><label>Iron:</label><span>5-100</span></p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="user-position">
                Marketing & Development
                <!--<button class="btn btn-default" routerLink="/edit">Edit</button>-->
              </div>
              <div>
                <i class="fa fa-map-marker " aria-hidden="true"></i>
                Beijing
              </div>
            </div>
          </div>
        </div>
        <div class="pull-right user_integral">
          2046
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row ">
  <p class="user-card-title">
    <span>Created Cases</span>
    <button class="btn btn-default" [routerLink]="[ '/usermore', 'createdcase']" routerL>More</button>
  </p>
  <div class="col-md-4 user-card ">
    <div class="panel card_yellow">
      <div class="panel-body">
        <!-- ngRepeat: tab in tabs -->
        <h2> Raw denim you probably haven't heard of them jean </h2>
        <small>
          <i class="fa fa-clock-o"></i> 2012-12-12
        </small>
        <div>
          <h2>Business Value</h2>
          <small>Increase business revenue</small>
          <h2>Business Scenario</h2>
          <small>Raw denim you probably haven't heard of them jean shorts Austin.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 user-card ">
    <div class="panel card_blue">
      <div class="panel-body">
        <!-- ngRepeat: tab in tabs -->
        <h2> Raw denim you probably haven't heard of them jean </h2>
        <small>
          <i class="fa fa-clock-o"></i> 2012-12-12
        </small>
        <div>
          <h2>Business Value</h2>
          <small>Increase business revenue</small>
          <h2>Business Scenario</h2>
          <small>Raw denim you probably haven't heard of them jean shorts Austin.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 user-card ">
    <div class="panel card_red">
      <div class="panel-body">
        <!-- ngRepeat: tab in tabs -->
        <h2> Raw denim you probably haven't heard of them jean </h2>
        <small>
          <i class="fa fa-clock-o"></i> 2012-12-12
        </small>
        <div>
          <h2>Business Value</h2>
          <small>Increase business revenue</small>
          <h2>Business Scenario</h2>
          <small>Raw denim you probably haven't heard of them jean shorts Austin.</small>
        </div>
      </div>
    </div>
  </div>
  <p class="user-card-title">
    <span>Liked Cases</span>
    <button class="btn btn-default" [routerLink]="[ '/usermore', 'createcase']" routerL>More</button>
  </p>
  <div class="col-md-4 user-card ">
    <div class="panel card_blue">
      <div class="panel-body">
        <!-- ngRepeat: tab in tabs -->
        <h2> Raw denim you probably haven't heard of them jean </h2>
        <small>
          <i class="fa fa-clock-o"></i> 2012-12-12
        </small>
        <div>
          <h2>Business Value</h2>
          <small>Increase business revenue</small>
          <h2>Business Scenario</h2>
          <small>Raw denim you probably haven't heard of them jean shorts Austin.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 user-card ">
    <div class="panel card_yellow">
      <div class="panel-body">
        <!-- ngRepeat: tab in tabs -->
        <h2> Raw denim you probably haven't heard of them jean </h2>
        <small>
          <i class="fa fa-clock-o"></i> 2012-12-12
        </small>
        <div>
          <h2>Business Value</h2>
          <small>Increase business revenue</small>
          <h2>Business Scenario</h2>
          <small>Raw denim you probably haven't heard of them jean shorts Austin.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 user-card ">
    <div class="panel card_red">
      <div class="panel-body">
        <!-- ngRepeat: tab in tabs -->
        <h2> Raw denim you probably haven't heard of them jean </h2>
        <small>
          <i class="fa fa-clock-o"></i> 2012-12-12
        </small>
        <div>
          <h2>Business Value</h2>
          <small>Increase business revenue</small>
          <h2>Business Scenario</h2>
          <small>Raw denim you probably haven't heard of them jean shorts Austin.</small>
        </div>
      </div>
    </div>
  </div>
</div>

